<section id='register-section' class='narrow'>

    <h1 class='item'>Register</h1>

    <div class='item padded align-center'>

        <form class='aligned' method='post' action=''>

            <label>
                <span>Email</span>
                <input type='text' name='email' {{#unless errors.email}} value='{{email}}' {{else}} value='' {{/unless}}/>
            </label>
            <label>
                <span>First name</span>
                <input type='text' name='firstName' {{#unless errors.firstName}}value='{{firstName}}'{{/unless}}/>
            </label>
            <label>
                <span>Last name</span>
                <input type='text' name='lastName' {{#unless errors.lastName}}value='{{lastName}}'{{/unless}}/>
            </label>
            <label>
                <span>Password</span>
                <input type='password' name='password' />
            </label>
            <label>
                <span>Repeat Password</span>
                <input type='password' name='rePass' />
            </label>

            <div class='align-center'>
                <input class='action' type='submit' value='Create Account' />
            </div>

        </form>

    </div>

</section>